<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./home.css" />
		<title>Home</title>
	</head>
	<body>
		<h1>BEST BANK</h1>

		<div class="container">
			<div class="notice">
				Double your money in 21 days.
				<p><a href="http://localhost:5500/infect.html">Click here</a> to get rich.</p>
			</div>
			<div class="notice">We have the best interest rates.</div>
	
			<div class="notice">
				Take Loans Easily.
			</div>
			<div class="notice">
				<form action="/search" method="get" >
					What do you want to search: <input type="text" name="search" id="search">
					<input type="submit" value="Enter">
				</form>
			</div>
		</div>
	</body>
</html>